<h6>Search For attractions Nearby</h6>
<div class="btn-group special" role="group" aria-label="..." *ngIf="state.state.categories.length">
    <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Set parameters
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item">
            <p (click)="getAttractionsList('any')">any</p>
        </a>
        <a class="dropdown-item" *ngFor="let x of state.state.categories">
            <p (click)="getAttractionsList(x)">{{ x }}</p>
        </a>
    </div>
    <!-- <button type="button" class="btn btn-dark" (click)="getStationsList()" [disabled]="!state.state.user_longitude"><i
            class="fas fa-search"></i> Search</button> -->
</div>
<h5 *ngIf="!state.state.user_longitude" style="color: red;">Unable to get your location.
    <span style="color: blue; text-decoration: underline;" (click)="loadInitMap()">Try again?</span>
</h5>
<br>
<p>All 40 attractions on a map:</p>
<div class="row">
    <div class="col-lg-8">
        <div id="map" class="map"></div>
        <br>
    </div>
</div>
<p>Only attractions maximum 40 km from you:</p>
<div *ngIf="state.state.attractions_list.length">
    <div *ngFor="let x of state.state.attractions_list; let i = index">
        <div *ngIf="calcCrow(
            this.state.state.user_latitude,
            this.state.state.user_longitude,
            x.pos.coordinates[1], x.pos.coordinates[0]).toFixed(1) < 40">
            <div class="card">
                <div class="card-header">{{ x.Name ? x.Name : "name not provided" }}
                </div>
                <div class="card-body">
                    <p>
                        Address: {{ x.Address ? x.Address : "Adress not provided" }}
                    </p>
                    <div [innerHTML]="x.Opening_Hours"></div>
                    <p>{{ calcCrow(
                        this.state.state.user_latitude,
                        this.state.state.user_longitude,
                        x.pos.coordinates[1], x.pos.coordinates[0]).toFixed(1)}} km from you</p>
                    <a href="{{ x.Product_Url }}">
                        {{ x.Product_Url ? x.Product_Url : "Url is not provided" }}
                    </a>
                    <div *ngIf="state.state.stored_favorites">
                        <button class="btn btn-outline-dark float-right"
                            [ngStyle]="{'color': state.state.stored_favorites.includes(x._id) ? 'yellow' : 'black' }"
                            (click)="changeFavorites(x._id)">
                            <i class="fas fa-star"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>